<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zrefind.mapper.BoardMapper">
	
	<select id="getList" resultType="com.zrefind.domain.ArticleVO">
		<![CDATA[
			select * from t_board where articleNo > 0
		]]>
	</select>
	
	<insert id="insert">
		insert into t_board(articleNo, title, content, writer)
		values(seq_article.nextval, #{title}, #{content}, #{writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="articleNo" order="BEFORE" resultType="long">
			select seq_article.nextval
			from dual
		</selectKey>
		insert into t_board(articleNo, title, content, writer)
		values(#{articleNo}, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="com.zrefind.domain.ArticleVO">
		select *
		from t_board
		where articleNo = #{articleNo}
	</select>
	
	<delete id="delete">
		delete t_board
		where articleNo = #{articleNo}
	</delete>
	
</mapper>