<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zrefind.mapper.BoardMapper">
	
	<select id="getList" resultType="com.zrefind.domain.ArticleVO">
		<![CDATA[
			select * from t_board where articleNo > 0
		]]>
	</select>
	
</mapper>